

.shotspotpage {


	canvas#appCanvas {
		position: relative;
		max-height: calc(100vh - 100px) ! important;
		width: auto ! important;
		top:0 ! important;
		left:0 ! important;
		right:0 ! important;
		margin:0 auto;
		padding: 0;
		@media screen and (max-width: 767px) {
			width: 100% ! important;
		}
	}

	#canvasHolder {
		text-align: center;
	}

	#videoHolder {
		position: absolute;
		left: 0% !important;
		right: 0 ! important;
		top: 9% ! important;
	}

	#mainHolder {
		position: relative;
		height: 100%;
		width: 100%;

	}

	.shotspotparent {
		position: relative;
		z-index: 5;
		height: calc(100vh - 100px);

		.regisimagesfloating {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			height: 100%;
			width: 100%;
			background-image: url('../images/checks2.png'),url('../images/loading-white.gif'),
			url('../images/thankyoucar.png');
			background-repeat:   no-repeat,
			no-repeat;
			background-position: left 0 top 0px, left 50% top 50%, right 0 bottom 100px;
			background-size: 10%, 100px, 18%;
			@media screen and (max-width: 767px) {
				background-size: 20%, 100px, 30%;
				background-position: left 0 top 0px, left 50% top 50%, right 0 bottom 80px;
			}
		}
	}

}
