@font-face {
font-family: "impact";
src: url("../fonts/impact.ttf");
}

@font-face {
font-family: "RACE1BranntNCV";
src: url("../fonts/RACE1BranntNCV.ttf");
}

a:hover {
	text-decoration: none;
}

body p {
	font-family: 'Lato', sans-serif;
}

.main-content {
	padding-top: 100px;

	@media screen and (max-width: 1120px) {
		padding-top: 75px;
	}
}
.twd-btn {
	display: inline-block;
	height: 35px;
	width: 200px;
	font-weight: 300 !important;
	margin-top: 30px;
	text-align: center;
	border: 1px solid $btn-border-color;
	border-radius: 0;
	background: $btn-bg;
	font-family: 'Lato', sans-serif;
	font-size: $btn-font;
	color: $btn-color !important;
	text-decoration: none;
	padding: 11px 0 28px;
	text-transform: uppercase;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;	
  @media screen and (min-width: 1680px) {
    height: 58px;
    width: 300px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    padding: 17px 0 28px;
  }

	&:hover {
   text-decoration: none;
   color: #fff !important;
   background: $btn-color;
   transition: all 0.3s;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;

   i {
   	left: 10px;
   	transition: all 0.6s linear;
   	-webkit-transition: all 0.6s linear;
   	-moz-transition: all 0.6s linear;
   }
	}

	i {
		margin: 0 10px;
		position: relative;
		left: 0px;
		transition: all 0.6s linear;
   	-webkit-transition: all 0.6s linear;
   	-moz-transition: all 0.6s linear;
	}

	@media screen and (max-width: 768px) {
   text-decoration: none;
   color: #fff !important;
   background: $btn-color;
	}
}

.twd-accordian-head {
	padding: 0 60px;
	text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;

  @media screen and (max-width: 680px) {
  	padding: 0 45px 0 40px;
  }
}

.accord-para {
	padding: 0 0 0 60px;
	 @media screen and (max-width: 680px) {
  	padding: 0 0 0 20px;
  }
}

.twd-heading {
	
}

.twd-para {
	margin: 25px 0;
	font-weight: 300 !important;
	font-weight: normal;
	font-size: $para-size;
	color: $para-color;
	line-height: $para-line-height;
	font-family: 'Lato', sans-serif;
}

.sub-head {
	font-family: impact;
	color:  #333;
	font-size: 22px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;

	@media screen and (min-width: 1680px) {
		font-size: 32px;
		line-height: 32px;
	}
}

.box-heading {
	.head-before {
    display: inline-block;
    position: relative;
    top: -13px;

    @media screen and (min-width: 1680px) {
    	top: -21px;
    }

    img {
    	height: 35px;
    }
	}

	.box-heading-first {
		font-family: impact;
		color:  #f6bd4e;
		font-size: 42px;
		font-weight: 400;
		line-height: 42px;
		text-transform: uppercase;
		position: relative;
    left: -4px;

     @media screen and (min-width: 1680px) {
			font-size: 60px;
			font-weight: 400;
			line-height: 60px;
     }
	}

	.box-heading-second {
		font-family: impact;
		color:  #f05f74;
		font-size: 42px;
		font-weight: 400;
		line-height: 42px;
		text-transform: uppercase;
     @media screen and (min-width: 1680px) {
			font-size: 60px;
			font-weight: 400;
			line-height: 60px;
			}		
	}	
}


@media screen and (max-width: 680px) {
	.sub-head {
		font-size: 15px;
	}

	.box-heading {
		.box-heading-first {
			font-size: 22px;
		}
		.box-heading-second {
			font-size: 22px;
		}

		.head-before {
			top: -4px;
			img {
			height: 18px;
		}
	 }
	}
}


/*breadcrum css*/
.regisbanner {
	font-size: 85px;
	font-family: 'Impact', 'sans serif';
	text-transform: uppercase;
	background: #26a6c1;
	letter-spacing: 1px;
	position: relative;
	color: #f5dc51;
	text-align: center;
	padding: 52px 50px !important;
	@media only screen and (max-width:1024px) {
		font-size: 40px;
	}
	@media only screen and (max-width:767px) {
		font-size: 45px;
	}

	@media screen and (min-width: 1680px) {padding: 75px 50px !important;}

.breadcrum {
	position: absolute;
	font-family: 'Lato', sans-serif;
	color: #fff;
	bottom: 8px;
	left: 22px;
	margin-left: 15px;
	font-size: 14px;
	text-transform: capitalize;
			
		span {
			font-family: 'Lato', sans-serif;
			color: #fff;
			font-size: 14px;				
			text-transform: capitalize;
				
				a {
					color:#fff;
					font-size: 14px;
					text-decoration: none;

					&:hover {
						color: $yellow-head;
					}
				}
			}

			@media only screen and (max-width:767px) {
				right:0;
				left:0;
				margin:0 auto;
				margin-left: 0;
			}
		}
}

.body-content {
	padding: 30px 0;

	.first-para {
		padding: 5px 0 30px;
	}
}

/*Image open animation*/
 .image-open-animation {
  position: relative;

  @media screen and (max-width: 680px) {
		margin: 20px auto;
  }

  img {
    width: 100%;
  }
	 &:after {
		 content: ' ';
		 width: 100%;
		 height: 100%;
		 position: absolute;
		 right: 0;
		 top: 0;
		 background: #fff;
		transition: all 0.7s ease-out;
		-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
	}
}

.image-open-animation.in-view:after {
	content: ' ';
	width: 0%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	transition: all 0.7s ease-out;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
}

 .image-open-animation-2 {
  position: relative;

  @media screen and (max-width: 680px) {
		margin: 20px auto;
  }

  img {
    width: 100%;
  }
	 &:after {
		 content: ' ';
		 width: 100%;
		 height: 100%;
		 position: absolute;
		 right: 0;
		 top: 0;
		 background: #fff;
		transition: all 0.7s linear;
		-webkit-transition: all 0.7s linear;
		-moz-transition: all 0.7s linear;
	}
}

.image-open-animation-2.in-view:after {
	content: ' ';
	width: 0%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	animation: open 1.4s linear;
	-webkit-animation: open 1.4s linear;
	-moz-animation: open 1.4s linear;
}

@include keyframes(open) {
	0% {
		width: 100%;
	}
	50% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}

/*typing animation*/
.text-type.in-view {
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(60, end); 
  -webkit-animation: type 4s steps(60, end); 
  -moz-animation: type 4s steps(60, end); 

  @media screen and (max-width: 680px) {text-align: center;}
}

@include keyframes(type) { 
  from { width: 0; } 
} 

@include keyframes(type2) {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 


/*Coming soon*/
.soon {
	position: relative;
	.start-icon {
		position: absolute;
		top: 0px;
		left: 0;

		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	.end-icon {
		position: absolute;
		bottom: 0px;
		right: 0;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}		
}
.coming-soon {
	position: relative;

	.box-heading {
		.head-before {
			top: -27px;
			@media screen and (max-width: 680px){
				top: -5px;
			}
		}

	  text-align: center;		

	   .box-heading-first,
		 .box-heading-second {
		 	font-size: 75px;

		 	@media screen and (max-width: 680px){
		 		font-size: 24px;
		 	}
		 }
	 }

	 .box-wrapper {
	 	width: 740px;
	 	margin: 0 auto;
	 	padding: 65px 0;
	 	text-align: center;

	 	@media screen and (max-width: 768px) {
	 		width: 90%;
	 		padding: 5vh 0;
	 	}
	 }

	 .inner-box  {width: initial;}
}

a {text-decoration: none !important;}
a:hover {text-decoration: none !important;}
a:focus {text-decoration: none !important;}

@media screen and (min-width: 1680px) {
	.twd-para {
		font-size: 18px !important;
		line-height: 24px;
		width: 95%;
	}
}

@media screen and (max-width: 680px) {
	.main-content .faq .accord-para-child .twd-para {width: 90%;}
}
