.fees-inc.page-wrap {
	p {
		font-size: 15px;
		margin: 15px 0 25px;
		line-height: 20px;
		font-family: $body_font;
		@media screen and (max-width: 767px) {
			font-size: 14px;
		}
	}
	.custom-height {
		height: 20px;
	}
}
.oneline-content {
	max-width: 600px;
	width: 100%;
	margin: 30px auto;
	padding: 0 15px;
	@media screen and (max-width: 767px) {
		margin: 0 auto 30px;
	}
}

.fees-box {
	padding: 20px 14px 1px;
	margin-bottom: 20px;
	@include anim(0.5s);
	@media screen and (max-width: 767px) {
		margin-bottom: 25px;
		box-shadow: 0px 2px 10px #ccc;
	}
	&:hover {
		box-shadow: 0px 2px 10px #ccc;
	}
}