/*Normal window variable*/
$para-color: #000;
$head-color: #000;
$para-size: 16px;
$head-size: 26px;
$para-line-height: 22px;

$btn-border-color: #f05f74;
$btn-bg: transparent; 
$btn-font: 14px;
$btn-color: #f05f74;

$nav-font: 15px;
$nav-color: #fff;
$body_font: 'Lato',sans-serif;
$text-anim_font: 'RACE1BranntNCV',sans-serif;

$yellow-head: #f6bd4e;
$red-head: #f05f74;




